/node_modules
next.config.js
.next
next-env.d.ts
/.github
rollup.config.mjs
auto-update-version.js
/dist
/.rollup.cache
.gitlab-ci.yml
tailwind.config.js
*.config.js
/nextjs-utils/dist
docker-compose.yml
Dockerfile
.eslintrc.js